*{
    margin: 0;
    padding-inline: 0;
}
.game-frame{
    width: 600px;
    height: 600px;
    background-color: #25005a;
    position: absolute;
}

.snake-body-part{
    position: absolute;
}
#game-section{
    position: relative;
}

#fruit{
    position: absolute;
}

